data_set_1
data_set_2
test
train
venv
attendance.csv
haarcascade_frontalface_default.xml
image_encodings.json

server/users
server/static
server/haarcascade_frontalface_default.xml
server/user_data.csv
